<div class="row home-content">
  <div class="col-md-12">
    <div class="home-search">
      <div class="row">
        <%= render 'shared/search_form' %>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="search-links">
            <li><%= link_to "Browse All", ids_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>