<header class="uh-header uh-header-secondary ark">
  <nav class="global-nav">
    <div class="container">
      <div class="global-logo">
        <a href="https://www.uh.edu/" tabindex="2">
          <img src="https://apps.lib.uh.edu/uh-elements/uh-secondary.svg" alt="University of Houston logo" title="University of Houston" style="height: 28px;">
        </a>
      </div>
      <ul class="nav-tactical">
        <li id="home">
          <a href="https://libraries.uh.edu" role="button" title="UH Libraries Home">
            <svg x="0px" y="0px" viewBox="0 0 476 432" aria-hidden="true" width="16" height="16">
              <path class="st0" d="M215,334.1V348c15.3,3.5,30.5,3.3,46-0.1v-13.7C245.6,336.9,230.2,336.8,215,334.1z"></path>
              <path class="st0" d="M215,366.4v48.8c3.2,3.2,5.8,5.9,8.4,7.6c3.3,2.1,6.8,3.5,14.3,3.2l0.2,0h0.2c11.6,0,16-4,23-10.8v-48.9
                  C245.8,369.1,230.4,369.4,215,366.4z"></path>
              <polygon class="st0" points="261,366.3 261,366.3 261,366.3 "></polygon>
              <path class="st0" d="M7,362c44.7,0.2,106,16.8,190,44.5v-301C110,76.5,63.7,61.7,7,60.3V362z"></path>
              <path class="st0" d="M178.7,6.2L178.7,6.2c-8.1,0.9-16.3,1.9-24.5,3.2C175,21.2,194,37.8,206,67c-24.9-22.5-44.2-39.5-75.8-53.5
                  c-8.8,1.7-17.7,3.6-26.7,5.6c22.7,10.7,49,26.1,75.1,51.3C121.2,45,96.9,39.4,58.4,31C46.3,34.6,34,38.5,21.5,42.7
                  c54.8,3.5,103.1,19.6,187.3,47.7l2,0.7l1.5,1.5c5.8,5.8,15.4,9.3,25.2,9.4C234.8,62.6,218.8,34.2,178.7,6.2z"></path>
              <path class="st0" d="M279,105.5v301c84.3-27.7,143.4-42.5,190-44.2V60.3C412.3,61.7,366,76.5,279,105.5z M355.5,239.7
                  c0.2,25.5-10.2,39.7-25.2,42.7c-15.2,3.1-25.9-6.9-26.2-32.1l-0.7-47.5l-7.6,1.5l-0.2-15.3l27.8-5.5l0.2,15.3l-8.3,1.6l0.6,46.6
                  c0.2,15,5.6,21.9,14.3,20.2c8.8-1.8,14-10.1,13.9-25.2l-0.4-47.1l-8.3,1.6l-0.1-15.2l27.3-5.4l0.1,15.2l-7.5,1.5L355.5,239.7z
                  M450.5,173.8l-7.7,1.5l-0.3,67.7l7.7-1.6l-0.1,14.8l-27.6,5.6l0-14.8l8.4-1.7l0.1-27.1l-31.3,6.3l0,27.1l8.4-1.7l0,14.9l-27.7,5.6
                  l-0.1-14.9l7.7-1.6l-0.2-67.9l-7.8,1.5l-0.1-15.2l28.1-5.5l0,15.2l-8.5,1.7l0,26l31.4-6.3l0.1-26l-8.5,1.7l0-15.2l27.9-5.5
                  L450.5,173.8z"></path>
              <path class="st0" d="M215,115.5v200.3c15.5,3.1,30.7,3.3,46,0.1V115.5c-7.2,3.1-15.1,4.5-23,4.5S222.2,118.5,215,115.5z"></path>
              <path class="st0" d="M417.6,31c-38.4,8.3-62.8,13.9-120.2,39.4c26.1-25.2,52.4-40.6,75.1-51.3c-9-2.1-17.8-4-26.7-5.6
                  c-31.6,14-50.9,31-75.8,53.5c12-29.2,31-45.8,51.8-57.6c-8.2-1.2-16.4-2.3-24.5-3.2l0,0c-40,28-56.1,56.3-58.8,95.8
                  c9.8-0.1,19.4-3.6,25.2-9.4l1.5-1.5l2-0.7c84.2-28.1,132.5-44.2,187.3-47.7C442,38.5,429.7,34.6,417.6,31z"></path>
            </svg>
            Libraries Home
          </a>
        </li>
        <li id="contact">
          <a href="https://libraries.uh.edu/contact" role="button" title="Contact Us">
            <svg viewBox="0 0 512 512" aria-hidden="true" width="16" height="16">
              <path d="M256 32C114.6 32 0 125.1 0 240c0 49.6 21.4 95 57 130.7C44.5 421.1 2.7 466 2.2 466.5c-2.2 2.3-2.8 5.7-1.5 8.7S4.8 480 8 480c66.3 0 116-31.8 140.6-51.4 32.7 12.3 69 19.4 107.4 19.4 141.4 0 256-93.1 256-208S397.4 32 256 32z"></path>
            </svg>
            Contact Us
          </a>
        </li>
        <li id="accounts">
          <a href="https://libraries.uh.edu/my-accounts" role="button" title="My Accounts">
            <svg viewBox="0 0 496 512" aria-hidden="true" width="16" height="16">
              <path d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z"></path>
            </svg>
            My Accounts
          </a>
        </li>	
        <li id="giving">
          <a href="https://libraries.uh.edu/giving" role="button" title="Give to UH Libraries">
            <svg viewBox="0 0 24 24" aria-hidden="true" width="16" height="16">
              <path d="M19.33,12.44l0.88,0.3c0.33,0.08,0.71,0.13,1.1,0.09l0.53-0.11c0,0,0,0,0,0l0,0L24,12.26V6.05l-6.49-1.08 c-1.8-0.29-3-0.14-3.72,0.06c-0.26,0.11-0.57,0.24-0.9,0.38h0l0,0c-1.58,0.67-3.7,1.55-4.37,1.83C8.1,7.47,7.89,7.97,8.06,8.44 c0.18,0.52,0.75,0.8,1.27,0.61c0.01,0,0.01,0,0.01,0l3.14-0.94c0.37-0.1,0.72-0.2,1.03-0.28l0.2-0.05c0.76-0.2,0.99-0.24,1.83-0.07 c0.59,0.12,3.12,0.81,3.28,0.85c0.28,0.07,0.45,0.36,0.38,0.64c-0.07,0.28-0.36,0.45-0.64,0.38c-0.04-0.01-2.67-0.67-3.24-0.78 c-0.33-0.07-0.51-0.09-0.69-0.08c-0.37,0.1-0.67,0.39-0.77,0.76c-0.17,0.58,0.17,1.2,0.75,1.36c0.04,0.01,0.08,0.03,0.12,0.05 L19.33,12.44L19.33,12.44L19.33,12.44z"></path>
              <path d="M4.67,11.56l-0.88-0.3c-0.33-0.08-0.72-0.13-1.1-0.09l-0.53,0.11l0,0l0,0L0,11.74v6.21l6.49,1.07 c1.8,0.29,3,0.14,3.72-0.06c0.26-0.11,0.57-0.24,0.9-0.38v0v0c1.58-0.67,3.7-1.55,4.37-1.83c0.42-0.23,0.63-0.73,0.47-1.2 c-0.18-0.52-0.75-0.8-1.27-0.61c-0.01,0-0.01,0-0.01,0l-3.14,0.94c-0.37,0.11-0.72,0.2-1.03,0.28l-0.2,0.05 c-0.76,0.2-0.99,0.24-1.83,0.07c-0.6-0.12-3.12-0.81-3.28-0.85C4.9,15.37,4.73,15.08,4.8,14.8c0.07-0.28,0.36-0.45,0.64-0.38 c0.04,0.01,2.67,0.67,3.24,0.78c0.33,0.07,0.51,0.09,0.69,0.08c0.37-0.1,0.67-0.39,0.77-0.76c0.17-0.58-0.17-1.2-0.75-1.36 c-0.04-0.01-0.08-0.03-0.12-0.05L4.67,11.56L4.67,11.56L4.67,11.56z"></path>
            </svg>
            Give to UH Libraries
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="site-name">
    <div class="container">
      <h1><%= link_to "ARK Service", root_path, :title => "University of Houston Libraries ARK Service" %></h1>
    </div>
  </div>
</header>