<div class="search-form col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <%= form_tag search_path, method: :get, role: "search" do %>
    <div class="form-group">
      <div class="input-group">
        <%= text_field_tag :q, params[:q], placeholder: "Search ARKs", id: "search-q", class: "form-control" %>
        <div class="input-group-btn">
          <button class="btn btn-default btn-primary" title="Search" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i> Search
          </button>
        </div>
      </div>
    </div>
  <% end %>
</div>