##
# Application configuration settings
#
development:
  noid_template: ".reeddeeddk"
  noid_state_file: /tmp/noid_state
  naan: ""
  api-key: ""

production:
  noid_template: ".reeddeeddk"
  noid_state_file: /tmp/noid_state
  naan: ""
  api-key: ""

test:
  noid_template: ".reeddeeddk"
  noid_state_file: /tmp/noid_state
  naan: ""
  api-key: ""