$font-milo: 'Milo', sans-serif;
$font-awesome: 'FontAwesome';
$font-league-gathic: 'League Gothic', sans-serif;

$red: #c8102e;
$brick: #960C22;
$cream: #fff9d9;
$gold: #f6be00;
$white: #fff;
$chocolate: #640817;
$dark: #333;
$slate: #54585a;
$slate-dark: #555555;
$teal: #00b388;
$green: #00866c;
$border: #d8d8d8;