@font-face {
  font-family: 'Milo';
  src: font-url('milo-regular-webfont.eot');
  src: font-url('milo-regular-webfont-.eot#iefix') format('embedded-opentype'),
    font-url('milo-regular-webfont.woff') format('woff'),
    font-url('milo-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Milo';
  src: font-url('milo-italic-webfont.eot');
  src: font-url('milo-italic-webfont-.eot#iefix') format('embedded-opentype'),
    font-url('milo-italic-webfont.woff') format('woff'),
    font-url('milo-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Milo';
  src: font-url('milo-bold-webfont.eot');
  src: font-url('milo-bold-webfont-.eot#iefix') format('embedded-opentype'),
    font-url('milo-bold-webfont.woff') format('woff'),
    font-url('milo-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Milo';
  src: font-url('milo-bolditalic-webfont.eot');
  src: font-url('milo-bolditalic-webfont-.eot#iefix') format('embedded-opentype'),
    font-url('milo-bolditalic-webfont.woff') format('woff'),
    font-url('milo-bolditalic-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Milo';
  src: font-url('milo-exlig-webfont.eot');
  src: font-url('milo-exlig-webfont-.eot#iefix') format('embedded-opentype'),
    font-url('milo-exlig-webfont.woff') format('woff'),
    font-url('milo-exlig-webfont.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson';
  src: font-url('crimson-roman-webfont.eot');
  src: font-url('crimson-roman-webfont-.eot#iefix') format('embedded-opentype'),
    font-url('crimson-roman-webfont.woff') format('woff'),
    font-url('crimson-roman-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson';
  src: font-url('crimson-italic-webfont.eot');
  src: font-url('crimson-italic-webfont-.eot#iefix') format('embedded-opentype'),
    font-url('crimson-italic-webfont.woff') format('woff'),
    font-url('crimson-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson';
  src: font-url('crimson-semibold-webfont.eot');
  src: font-url('crimson-semibold-webfont-.eot#iefix') format('embedded-opentype'),
    font-url('crimson-semibold-webfont.woff') format('woff'),
    font-url('crimson-semibold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson';
  src: font-url('crimson-semibolditalic-webfont.eot');
  src: font-url('crimson-semibolditalic-webfont-.eot#iefix') format('embedded-opentype'),
    font-url('crimson-semibolditalic-webfont.woff') format('woff'),
    font-url('crimson-semibolditalic-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson';
  src: font-url('crimson-bold-webfont.eot');
  src: font-url('crimson-bold-webfont-.eot#iefix') format('embedded-opentype'),
    font-url('crimson-bold-webfont.woff') format('woff'),
    font-url('crimson-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson';
  src: font-url('crimson-bolditalic-webfont.eot');
  src: font-url('crimson-bolditalic-webfont-.eot#iefix') format('embedded-opentype'),
    font-url('crimson-bolditalic-webfont.woff') format('woff'),
    font-url('crimson-bolditalic-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'League Gothic';
  src: font-url('leaguegothic-regular-webfont.eot');
  src: font-url('leaguegothic-regular-webfont-.eot#iefix') format('embedded-opentype'),
    font-url('leaguegothic-regular-webfont.woff') format('woff'),
    font-url('leaguegothic-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'League Gothic';
  src: font-url('leaguegothic-regular-webfont.eot');
  src: font-url('leaguegothic-regular-webfont-.eot#iefix') format('embedded-opentype'),
    font-url('leaguegothic-regular-webfont.woff') format('woff'),
    font-url('leaguegothic-regular-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}